@charset "utf-8";

body{
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	margin:0 !important;
	padding:0 !important;
	text-align: center;
	background:#fff;
	font-size:14px;
	line-height:1.2;
	color:#333333;
/*	background:url(../img/header/bg.gif) repeat-x #f9f9f9;*/
}
#page_wrapper{
	width:100%;
	margin:0;
	padding:0;
	text-align: center;
	background:#fff;
}
#content_wrapper{
	width:100%;
	margin:0 auto;
	padding:0;
	text-align: left;
	position: relative;

}
#page_content{
	width:100%;
	position: relative;
	padding:10px 0 48px 0;
	margin:0 auto;
}




a{
	color:#333;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}






@media screen and (max-width: 750px) {
	img {width:100%; height: auto;}
}