@charset "UTF-8";

.company #page_content{
    padding-top:20px;
}


/* pankuzu */
.company #pankuzu{
    border-bottom:none;
    padding-bottom: 0;
}

/* local menu */
#page_content .float_wrapper.w980 .local_menu{
    width:180px;
    float:left;
}
#page_content .float_wrapper.w980 .local_menu ul{
    border-top:solid #ddd 1px;
}
#page_content .float_wrapper.w980 .local_menu ul li{
    border-bottom:solid #ddd 1px;
    height:48px;
}
#page_content .float_wrapper.w980 .local_menu ul li.gn{
    height:auto;
}
#page_content .float_wrapper.w980 .local_menu ul li a{
    display: block;
    height:48px;
    line-height: 48px;
    background:url(../../../common/img/red_arrow_1.png) no-repeat center right;
}
#page_content .float_wrapper.w980 .local_menu ul li.gn a{
    height:auto;
    line-height: 1.4;
    padding:10px 0;
}
#page_content .float_wrapper.w980 .local_menu ul li.on a{
    color:#e21210;
}



.dir_title{
    background-image:url(../img/title.png);
}
.dir_title p{
    width:980px;
    height:100px;
    line-height: 100px;
    font-size:160%;
    margin:0 auto;
    font-weight: bold;
}





/* main */
#page_content .float_wrapper.w980 .main{
    width:760px;
    float:right;
}


/* .listTbl customize*/
.listTbl dt.dantai{
    height:2.3em;
}

.listTbl.table1{
    margin:0 0 30px 0;
}









@media screen and (max-width: 750px) {

    .company #page_content{
        padding-top:76px;
    }



    .dir_title p{
        width:92%;
    }


    #page_content .float_wrapper.w980 .local_menu{
        display: none;
    }
    #page_content .float_wrapper.w980 .main{
        width:92%;
        float:none;
        margin:0 auto;
    }
    .listTbl.table2 dt br{
        display: none;
    }









@media screen and (max-width: 440px) {

}